.loginForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
    
    &Button {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        align-self: flex-end;
    }
}